[joyent]
api = eu-ams-1
username = <someUsername>
id_rsa = ~/.ssh/id_rsa
ansible_lib = <REPLACE_ME>/extensions/ansible_plugins/library


[foo]
option1 = "Do Something"
option2 = "Another Something"
option3 = "Something Else"
